# Generated PDF files
*.pdf

# TeX auxiliary files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.nls
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

*.md


